body
  color: #fff
  font-family: sans-serif
.section
  max-width: 1920px
  height: 1080px;
  margin-top: 52px
  background-color: #26650a
.container
  width: 1280px
  margin: auto
  &.services
    width: 1209px
    margin: auto
.btn
  box-shadow: 0 8px 13px rgba(0, 0, 0, 0.04)
  border-radius: 8px
  border: 1px solid #ffba15
  background-color: #ffb504
  background-image: linear-gradient(to top, #f5ad00 0%, #ffb504 100%)
  text-transform: uppercase
  color: #ffffff

.hero
  &-text
    text-align: center
    &__title
      font-size: 36px
      font-weight: 700
      &.services
        display: block;
        margin-bottom: 53px;
        padding-top: 104px;
        letter-spacing: -1px;
        margin-left: 54px;
      &.title
        display: inline-flex
        margin-top: 115px;
        margin-bottom: 46px;
    &__subtitle
      font-size: 18px
      font-weight: 400
      &.title
        margin-bottom: 90px;
      &.services
        display: inline-flex
        margin-bottom: 93px;
  &-card
    width: 400px
    height: 660px
    box-shadow: 0 14px 21px rgba(0, 0, 0, 0.17)
    background-color: #ffffff
    display: flex
    justify-content: center
    position: relative
.card
  &-item
    &__title
      text-align: center
      margin-top: 47px;
      letter-spacing: -0.3px;
      margin-bottom: 33px
      font-size: 19px
      font-weight: 700
      color: #1a1820
    &__image
      margin-bottom: 31px
      padding-left: 4px;
    &__price
      display: block
      margin-bottom: 24px
      font-size: 19px
      font-weight: 700
      color: #1a1820
      text-align: center
      letter-spacing: 0.6px;
      & b
        font-size: 30px
    &__info-card
      display: block
      text-align: center
      margin-right: 14px
      font-size: 18px
      font-weight: 400
      color: #1a1820
      line-height: 30px
    &__mark
      margin-bottom: 9px;
      margin-right: 17px;
      text-align: center
    &__button
      display: flex 
      margin: auto
      position: absolute
      bottom: 45px
      left: 50%
      transform: translateX(-50%)
      padding: 21px 59px
      font-size: 18px
      font-weight: 400
.my-card
  display: flex
  justify-content: space-between
.services
  &-card
    display: flex
    justify-content: space-between
    &__item
      width: 329px
      height: 291px
      position: relative
  &-button
    position: absolute
    right: 72px
    bottom: 15px
    padding: 17px 46px
    font-size: 16px
    font-weight: 70