body
  color: #fff
  font-family: sans-serif
.section
  max-width: 1920px
  height: 1081px
  margin-top: 52px
  background-color: #26650a
.container
  width: 1280px
  margin: auto
.hero
  &-text
    text-align: center
    &__title
      font-size: 36px
      font-weight: 700
      &.up
        display: inline-flex
        margin-top: 120px
        margin-bottom: 59px
    &__subtitle
      font-size: 18px
      font-weight: 400